.spacer {
  flex: 1 1 auto;
}

.header-toolbar {
  padding: 0 16px;
  font-size: 16px;
  font-weight: bold;
}

.app-title {
  font-size: 20px;
  font-weight: 500;
}

button.mat-button {
  margin: 0 8px;
}

button.mat-button.active {
  font-weight: bold;
  text-decoration: underline;
}
